.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; 
}

.location-button,
.autocomplete-wrapper {
  width: 100%; 
  max-width: 600px; 
  margin-bottom: 10px; 
}

.location-button {
  padding: 14px;
  background-color: #b95918;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.autocomplete-wrapper input {
  box-sizing: border-box;
  padding: 14px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  font-size: 1em;
}

.store-cards-container {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid #e2e2e2;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
